
<div class="container">
    <h1>About This Aplication</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quisquam possimus voluptatibus, facilis assumenda molestiae rerum. In praesentium, labore ullam, sit nesciunt totam temporibus veniam quaerat blanditiis necessitatibus architecto dicta.</p>
</div>

<!-- <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti beatae officiis nobis odio doloremque soluta earum a ut omnis nam! Aperiam odit unde culpa rerum id cum in nam totam.</mat-grid-tile>
</mat-grid-list> -->
