.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

mat-card img{
    width: 100%; 
    height: 80%;
    object-fit: cover; 
    object-position:  0%;
    padding-left: 17px;
}
