<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button  (click)="sidenav.toggle()" ><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name" routerLink="/">  Movie App</h1>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" >
    <mat-nav-list routerLink="/movie"><mat-list-item>Movie</mat-list-item></mat-nav-list>
    <mat-nav-list routerLink="/actors"><mat-list-item>Actors</mat-list-item></mat-nav-list>
    <mat-nav-list routerLink="/about"><mat-list-item>About</mat-list-item></mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
